useDynLib(DirichletMultinomial, .registration=TRUE)

import(methods)
importFrom(stats4, AIC, BIC, summary)
importClassesFrom(S4Vectors, Annotated)
importMethodsFrom(IRanges, length, lapply, Map, names, sapply)
importClassesFrom(IRanges, SimpleList, List, Vector)

exportClasses(DMN, DMNGroup)
export(dmn, dmngroup,
       goodnessOfFit, laplace, mixturewt, mixture, heatmapdmn,
       cvdmngroup, roc, csubset,
       ## S4 generics
       fitted, predict)

exportMethods(AIC, BIC, summary, show)
