useDynLib(DirichletMultinomial, .registration=TRUE)

import(methods)
importFrom(stats4, AIC, BIC, summary)
importClassesFrom(S4Vectors, Annotated, Vector)
importMethodsFrom(IRanges, length, lapply, names)
importMethodsFrom(BiocGenerics, Map, sapply)
importClassesFrom(S4Vectors, SimpleList, List)

exportClasses(DMN, DMNGroup)
export(dmn, dmngroup,
       goodnessOfFit, laplace, mixturewt, mixture, heatmapdmn,
       cvdmngroup, roc, csubset,
       ## S4 generics
       fitted, predict)

exportMethods(AIC, BIC, summary, show)
